/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fcfaf9;
}

a {
  color: black;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  margin: 20px 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 20px 0 10px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.btn {
  margin: 30px auto 0;
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2274a5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  animation: flashingBtn 0.5s linear alternate infinite;
}

@keyframes flashingBtn {
  from {
    background-color: #2274a5;
  }

  to {
    background-color: #f22d2d;
  }
}

.hidden {
  display: none;
}

/* -Gioco Pari o Dispari */
.even_odd_game {
  height: 100vh;
  background-color: #004225;
  border: 15px solid #6a3e37;
  padding: 30px 0;
}

.even_odd_game p {
  width: 80%;
  margin: auto;
}

.user_box,
.cpu_box {
  width: 1000px;
  margin: 10px auto;
  padding: 20px 0;
  border: 3px dotted #6a3e37;
}

.user_box .user_choice {
  display: flex;
  justify-content: space-evenly;
}

.user_box .user_choice select,
.user_box .user_choice input {
  width: 200px;
  height: 30px;
  text-align: center;
  border: 5px solid #2274a5;
}

.user_box .user_choice button {
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: #2274a5;
  color: #fcfaf9;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.user_box .user_text_choice,
.cpu_box .cpu_text_choice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user_box .user_text_choice .choice_box,
.cpu_box .cpu_text_choice .choice_box {
  width: 200px;
  height: 40px;
  background-color: #fcfaf9;
  border: 5px solid #2274a5;
  border-radius: 10px;
  color: #092b3d;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: bold;
}
